#gradient-canvas {
    width: 100%;
    height: 100%;
    --gradient-color-1: #F9E6FF;
    --gradient-color-2: #FFE9C2;
    --gradient-color-3: #CEE5FF;
    --gradient-color-4: #FBECFF;
  }
  
  .card-highlight {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 1rem;
    mix-blend-mode: color-dodge;
    opacity: 0;
    pointer-events: none;
  
    background-image: radial-gradient(circle at var(--x) var(--y),
        rgba(255, 255, 255, 0.5) 0%,
        rgba(255, 255, 255, 0) 25%);
  }
  
  .card-highlight::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 1rem;
    background-image: linear-gradient(115deg,
        transparent 20%, #ff00ff, #ff0073, #ff5e00, #ffee00,
        #00ff00, #00ffff, #007bff, #5e00ff, #ff00ff,
        transparent 80%);
    background-size: 200% 200%;
    background-position: var(--gx) var(--gy);
    mix-blend-mode: screen;
    opacity: 0.6;
  
  }
  #webgl{
    z-index: -1;
    background-color: transparent;
    position: relative;
    width: 100%;
    height: 100%;
}